<div class="bs-docs-example">
    <blockquote>
      <p>Never trust a computer you can’t throw out a window.</p>
      <small>Steve Wozniak</small>
    </blockquote>
    <blockquote>
      <p>They have computers, and they may have other weapons of mass destruction.</p>
      <small>Janet Reno</small>
    </blockquote>
    <blockquote>
      <p>No matter how slick the demo is in rehearsal, when you do it in front of a live audience, the probability of a flawless presentation is inversely proportional to the number of people watching, raised to the power of the amount of money involved.</p>
      <small>Mark Gibbs</small>
    </blockquote>
    <blockquote>
      <p>First, solve the problem. Then, write the code.</p>
      <small>John Johnson</small>
    </blockquote>
    <blockquote>
      <p>PHP is a minor evil perpetrated and created by incompetent amateurs, whereas Perl is a great and insidious evil perpetrated by skilled but perverted professionals.</p>
      <small>Jon Ribbens</small>
    </blockquote>

</div>


