<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You've been challenged to a game of Abluka.</h1>
    <p>
      <%= @url %>.
    </p>
  </body>
</html>
